{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block pageTitle %} {% endblock %}</title>
  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-3.3.5.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/bootstrap-3.3.5.min.css' %}">
  {% block pageHead %} {% endblock %}
</head>
<body>
<div class="container">
<header>
  {% block pageHeader %}

  {% endblock %}
</header>
<article>
  {% block pageArticle %}

  {% endblock %}
</article>
<footer>
  {% block pageFooter %}

  {% endblock %}
</footer>
</div>
</body>
</html>