{% extends '_base.html' %}

{% block pageTitle %}
离返校统计
{% endblock %}

{% block pageArticle %}
  <div class="panel panel-default">
    <div class="panel-heading">研16[56] - 暑假离返校统计</div>
      <div class="panel-body">
        <form class="form-horizontal">
          {% csrf_token %}
          <div class="form-group form-group-md">
            <label class="col-md-2 control-label">学号</label>
            <div class="col-md-10">
             <input class="form-control" name="stu-no" id="stu-no" maxlength="9" minlength="9" placeholder="学号">
            </div>
          </div>
          <div class="form-group form-group-md">
            <label class="col-md-2 control-label">姓名</label>
            <div class="col-md-10">
             <input class="form-control" name="stu-name" id="stu-name" minlength="2" placeholder="姓名">
            </div>
          </div>
          <div class="form-group form-group-md">
            <label class="col-md-2 control-label">手机号</label>
            <div class="col-md-10">
             <input class="form-control" name="phone" id="phone" maxlength="11" minlength="11" placeholder="手机号">
            </div>
          </div>
          <div class="form-group form-group-md">
            <label class="col-md-2 control-label">去向</label>
            <div class="col-md-10">
             <select class="form-control" name="where" id="where">
               <option>实验科研</option>
               <option>回家</option>
               <option>在校无安排</option>
               <option>外出旅行</option>
               <option>实习兼职</option>
               <option>学习备考</option>
               <option>社会实践</option>
               <option>出国</option>
             </select>
            </div>
          </div>
          <div class="form-group form-group-md">
            <label class="col-md-2 control-label">离校时间（4个数字的日期，如0428）</label>
            <div class="col-md-10">
             <input class="form-control" name="go-time" id="go-time" placeholder="不确定就大概填一下~">
            </div>
          </div>
          <div class="form-group form-group-md">
            <label class="col-md-2 control-label">返校时间（4个数字的日期，如0501）</label>
            <div class="col-md-10">
             <input class="form-control" name="back-time" id="back-time" placeholder="不确定就大概填一下~">
            </div>
          </div>
          <div class="form-group form-group-md">
            <label class="col-md-2 control-label">备注</label>
            <div class="col-md-10">
             <input class="form-control" name="remark" id="remark" value="无">
            </div>
          </div>
        </form>
    </div>
  </div>

  <hr/>
  <button id="submit-all" type="button" class="btn btn-primary btn-lg btn-block">提交</button>
  <hr/>
{% endblock %}

{% block pageFooter %}
  {% csrf_token %}
<script>
var stuNo = $('#stu-no'),
    stuName = $('#stu-name'),
    phone = $('#phone'),
    goTime = $('#go-time'),
    backTime = $('#back-time'),
    where = $('#where'),
    remark = $('#remark');
stuNo.change(function () {
  if(/^[sSgG]\d{8,8}$/.test(stuNo.val())) {
    $.get('/go-back/get/' + stuNo.val().toUpperCase(), function (data) {
      if(data.filled) {
        alert('之前已经提交过，请检查已填写信息！');
      }
      stuName.val(data.name);
      phone.val(data.phone);
      goTime.val(data.goTime);
      backTime.val(data.backTime);
      where.val(data.where);
      remark.val(data.remark);
    }).fail(function (data) {
      alert(data.responseText);
    });
  }
});
$('#submit-all').click(function () {
  if(!/^[sSgG]\d{8}$/.test(stuNo.val())) {
    alert('学号错误！');
    return;
  }
  if(!stuName.val()) {
    alert('姓名不能为空！');
  }
  if (!/^1\d{10}$/.test(phone.val())) {
    alert('手机号错误！');
    return;
  }
  if (!/^[01]\d{3}$/.test(goTime.val())) {
    alert('离校时间错误！');
    return;
  }
  if (!/^[01]\d{3}$/.test(backTime.val())) {
    alert('返校时间错误！');
    return;
  }
  $.post('/waiting-for-death/', {
    stuNo: stuNo.val().toUpperCase(),
    name: stuName.val(),
    phone: phone.val(),
    goTime: goTime.val(),
    backTime: backTime.val(),
    where: where.val(),
    remark: remark.val(),
    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
  }).done(function () {
    alert('提交成功！');
    $('#submit-all').attr('disabled', true);
    window.close();
  }).fail(function (resp) {
    alert(resp.reason);
  });
});
</script>
{% endblock %}
