{% extends '_base.html' %}

{% block pageTitle %}
  打分
{% endblock %}

{% block pageHeader %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">计研166</a>
    </div>
    <div id="navbar" class="collpsed navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/rate">打分</a></li>
        <li><a href="/rate/view">查看</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_active %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">
              <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp; {{ request.user.username }}
            </a>
            <ul class="dropdown-menu">
              <li><a href="/logout?next={{ request.path|urlencode }}">Logout</a></li>
            </ul>
          </li>
        {% else %}
          {% ifnotequal request.path '/login' %}
          <li><a href="/login?next={{ request.path|urlencode }}"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
          {% endifnotequal %}
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block pageArticle %}
  <div style="text-align: center;font-size: 2em;">
  <p>晚上再开</p>
    {% load staticfiles %}
  <img src="{% static 'img/a.png' %}">
  </div>
{% endblock %}

{% block pageFooter %}
{% endblock %}
