{% extends '_base.html' %}

{% block pageTitle %}
  查看分数
{% endblock %}

{% block pageHeader %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">计研166</a>
    </div>
    <div id="navbar" class="collpsed navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/rate">打分</a></li>
        <li><a href="/rate/view">查看</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_active %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">
              <span class="glyphicon glyphicon-user"></span>&nbsp; {{ request.user.username }}
            </a>
            <ul class="dropdown-menu">
              <li><a href="/logout?next={{ request.path|urlencode }}">Logout</a></li>
            </ul>
          </li>
        {% else %}
          {% ifnotequal request.path '/login' %}
          <li><a href="/login?next={{ request.path|urlencode }}"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
          {% endifnotequal %}
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block pageArticle %}
  <h2>评分细则</h2>
  <p>根据学院小组讨论结果，日常表现评分共计10分，
    采用70%班委会评定 + 30%班级同学互相打分的方式。
    其中班会4分，科研活动2分，团建活动1分，互相打分3分。详细规则如下：
  </p>
  <h3>1、	班会</h3>
  <p>班会共计4次，4分。按照请假扣0.25分，不请假扣0.5分计算。
    <b>公式为4-0.5（或0.25）*n（n≤4）</b>
  </p>
  <div class="alert alert-info" role="alert">咱们的班会为：<b>2016/12/01 社会主义核心价值观主题班会</b>、
    <b>2016/12/08 推优</b>、<b>2017/06/28 班级互评分</b>、<b>2017/07/06 推优</b>。
    其中第一、三、四次班会视为全员参加。
  </div>
  <h3>2、	科研活动</h3>
  <p>科研活动2分。分为1次集体活动（到场给1分，请假扣0.25分，不请假扣0.5分）。
    剩下每次小组科研活动给0.5分，活动要求6人以上，需照片记录。由各班班委会认证。
    <b>公式：1（0.75或0.5）+0.5*n（n≤2）</b>
  </p>
  <div class="alert alert-info" role="alert">咱们的科研活动为：<b>2016/12/01 科研宣讲会</b>。
    科研宣讲会视为全员参加。小组科研活动均为满分。
  </div>
  <h3>3、	团建活动</h3>
  <p>团队建设活动共计N次，1分。按照参加活动的比例计算分数，参加总活动次数的4/5即为满分。
    <b>公式为1.25*n/N（n≤4*N/5）</b>
  </p>
  <div class="alert alert-info" role="alert">咱们的团建活动为：<b>2016/12/11 别墅</b>、
    <b>2016/04/16 香山</b>、<b>2017/04/16 聚餐</b>。没去均视为请假。咱们依旧按照5次活动计算，
    相当于每个人另外多参加了两次活动，这样没少参加1次减0.25。
  </div>
  <h3>4、	互相打分</h3>
  <p>同学互相打分3分。全班同学共同参与、无记名打分方法，由百分制折算，
    打分范围为0-100分，5分一个梯度，去掉最高最低分求得平均分。</p>
  <p>打分方式：各班在班长的组织下，<s>每位同学结合入学之后的表现进行3分钟以内的自我陈述</s>。
    如因事、因病或其他原因未能参加班级评定的同学<s>须出具相关证明，并由导师签字</s>。
    未能参加班级评定的同学视为自愿放弃打分权利，并认可班级打分结果。
    <b>公式为1.25*n/N（n≤4*N/5）</b>
  </p>
  <h3>5、	附加分</h3>
  <table class="table table-striped">
  <thead>
  <tr>
    <th>序号</th>
    <th>项目名称</th>
    <th>项目内容</th>
    <th>加分</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td>班级学生工作</td>
    <td>最优班委外的其他班委</td>
    <td>0.1</td>
  </tr>
  <tr>
    <td>2</td>
    <td>代表学院的活动</td>
    <td>例如走方阵、轻体运动会</td>
    <td>0.05</td>
  </tr>
  <tr>
    <td>3</td>
    <td>科研活动带头人</td>
    <td>各班活动自行评选</td>
    <td>0.05</td>
  </tr>
  <tr>
    <td>4</td>
    <td>其它</td>
    <td>在班级活动中表现积极的同学</td>
    <td>不单独加分，在同学互相打分中展示其班级贡献</td>
  </tr>
  </tbody>
  </table>
  <div class="alert alert-info" role="alert">
    <ul>
      <li><b>班委</b>：余伟伟、张德恩、张彤、王琪琪、魏鹏、徐玥、许东梅。</li>
      <li><b>走方阵</b>：徐玥、尹桂兰、王菁、杨玲玉、吴建伟。</li>
      <li><b>运动会</b>：徐玥、杨攀、姚翠、孙晓玉、魏鹏、吴彦飞。</li>
      <li><b>拔河</b>：张彤、王琪琪、魏鹏、杨攀、杨耀东。</li>
      <li><b>科研宣讲会</b>：张德恩、吴建伟。</li>
      <li><b>羽毛球赛</b>：姚翠、王杰、吴京京、张德恩、杨耀东、魏鹏。</li>
      <li><b>学术三分钟</b>：姚翠、魏鹏。</li>
    </ul>
  </div>
  <h3>6、	其他</h3>
  <ol>
  <li>以上提到的所有分数求和总分不超过10分。</li>
  <li>本细则由学院16级各班委综合讨论决定。本细则不代表导员及各班班委的个人意见。</li>
  <li>班级同学需认真阅读此细则，如果同意细则，则需签字，承诺明年评奖评优时认可班级打分结果。</li>
  <li>各班班委会成员承诺在评分过程中公正客观，不徇私舞弊，最终评分结果会在全班公示。对于班委会评判结果如有较大异议，请及时反馈。</li>
  <li>此细则自2016年12月开始执行，之前的活动不计入考勤。</li>
  </ol>

  <h2>你给他人的评分</h2>
  <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th>姓名</th>
        <th>分数</th>
      </tr>
    </thead>
    <tbody>
      {% for rs in rss_o %}
      <tr>
        <td>{{ rs.other.username }}</td>
        <td>{{ rs.score }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2>他人给你的评分</h2>
  <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th>参评人数</th>
        <th>平均分数</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ rss_m.score__count }}</td>
        <td>{{ rss_m.score__avg }}</td>
      </tr>
    </tbody>
  </table>

  <h2>最终分数</h2>
  <dl class="dl-horizontal">
    <dt>评分</dt>
    <dd>{{ r_score }}</dd>
    <dt>班会</dt>
    <dd>{{ abstract.meeting }}</dd>
    <dt>科研活动</dt>
    <dd>{{ abstract.r_event }}</dd>
    <dt>团建活动</dt>
    <dd>{{ abstract.c_event }}</dd>
    <dt>附加分</dt>
    <dd>{{ abstract.attached }}</dd>
    <dt>总计(不超过10分)</dt>
    <dd>{{ t_score }}</dd>
  </dl>

  <hr/>
{% endblock %}
