{% extends '_base.html' %}

{% block pageTitle %}
  打分
{% endblock %}

{% block pageHeader %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">计研166</a>
    </div>
    <div id="navbar" class="collpsed navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/rate">打分</a></li>
        <li><a href="/rate/view">查看</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_active %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">
              <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp; {{ request.user.username }}
            </a>
            <ul class="dropdown-menu">
              <li><a href="/logout?next={{ request.path|urlencode }}">Logout</a></li>
            </ul>
          </li>
        {% else %}
          {% ifnotequal request.path '/login' %}
          <li><a href="/login?next={{ request.path|urlencode }}"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
          {% endifnotequal %}
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block pageArticle %}
  <div class="panel panel-default">
    <div class="panel-heading">互相评分</div>
      <div class="panel-body">
        <form class="form-horizontal">
        {% for up in ups %}
          <div class="form-group form-group-md">
            <label class="col-md-2 control-label">{{ up.user.username }}</label>
            <div class="col-md-10">
              <select id="{{ up.user.id }}" class="form-control">
                <option>100</option>
                <option>95</option>
                <option>90</option>
                <option>85</option>
                <option>80</option>
                <option>75</option>
                <option>70</option>
                <option>65</option>
                <option>60</option>
                <option>55</option>
                <option>50</option>
                <option>45</option>
                <option>40</option>
                <option>35</option>
                <option>30</option>
                <option>25</option>
                <option>20</option>
                <option>15</option>
                <option>10</option>
                <option>5</option>
                <option>0</option>
              </select>
            </div>
          </div>
        {% endfor %}
        </form>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">优秀班干部</div>
    <div class="panel-body">
      <form class="form-horizontal">
        <div class="form-group form-group-md">
          <label class="col-md-2 control-label">选择（必选三人）</label>
          <div class="col-md-10">
            {% for cadre in cadres %}
              <label class="checkbox-inline">
                <input type="checkbox" value="{{ cadre.user.id }}"> {{ cadre.user.username }}
              </label>
            {% endfor %}
          </div>
        </div>
      </form>
    </div>
  </div>
  <hr/>
  <button id="submit-all" type="button" class="btn btn-primary btn-lg btn-block">提交</button>
  <hr/>
{% endblock %}

{% block pageFooter %}
  {% csrf_token %}
<script>
$('#submit-all').click(function () {
  var goodCadres = $('input[type=checkbox]:checked');
  if(goodCadres.length !== 3) {
    alert('班干部需选择3个人！');
    return;
  }
  var obj = {
    csrfmiddlewaretoken: $('input[type=hidden]').val(),
    scores: {},
    cadres: goodCadres.map(function (i, it) {
      return it.value;
    }).get()
  };
  $('select').each(function (i, it) {
    obj.scores[it.id] = it.value;
  });
  obj.scores = JSON.stringify(obj.scores);
  if(confirm('提交后不能更改，确认现在提交嘛？')) {
    $.post('/rate', obj).done(function () {
      alert('提交成功！');
    }).fail(function (resp) {
      alert('提交出现错误！请尝试更改后重新提交！\n' + resp.responseText);
    });
  }
});
</script>
{% endblock %}
