{% extends '_base.html' %}

{% block pageTitle %}
  打分
{% endblock %}

{% block pageHeader %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">计研166</a>
    </div>
    <div id="navbar" class="collpsed navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/rate">打分</a></li>
        <li><a href="/rate/view">查看</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_active %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">
              <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp; {{ request.user.username }}
            </a>
            <ul class="dropdown-menu">
              <li><a href="/logout?next={{ request.path|urlencode }}">Logout</a></li>
            </ul>
          </li>
        {% else %}
          {% ifnotequal request.path '/login' %}
          <li><a href="/login?next={{ request.path|urlencode }}"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
          {% endifnotequal %}
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block pageArticle %}
  <h2>评分结果</h2>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>姓名</th>
        <th>评分人数</th>
        <th>平均分数</th>
        <th>最终得分</th>
      </tr>
    </thead>
    <tbody>
      {% for rs in rss %}
      <tr>
        <td>{{ rs.other__username }}</td>
        <td>{{ rs.score__count }}</td>
        <td>{{ rs.score__avg }}</td>
        <td>{{ rs.score__sum }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2>班干评选结果</h2>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>姓名</th>
        <th>票数</th>
      </tr>
    </thead>
    <tbody>
      {% for gc in gcs %}
      <tr>
        <td>{{ gc.them__username }}</td>
        <td>{{ gc.me__count }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block pageFooter %}
{% endblock %}
